doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        include assets/stylesheet.pug
        title The Bug Tracker App
    body
        .navbar
            h2 Bug Tracker
            .auth
                if !firstName
                    a(href="/signin") Log In
                    a(href="/signup") Register
                else
                    h3 Hello #{firstName}
                    a(href="/logout") Log Out

        if error
            .error
                h3 Error! #{error}

        if token
            input(type="hidden" value=`${token}`)

        block content

        block script
            include assets/script.pug